.form-main-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 15rem;
    padding-bottom: 7rem;
    width: 100%;
    opacity: 0;
    transition: opacity .6s ease-in; 
}

.form-title-container {
    opacity: 0;
    transition: opacity .6s ease-in
}

.form-title-container h2 {
    font-family: 'Jost', sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    color: #170C05;
    text-transform: uppercase;
    letter-spacing: .5rem;

}

.form-content-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 900px;
    opacity: 0;
    transition: opacity .6s ease-in
}

.form-cta-container {
    width: 75%;
    opacity: 0;
    transition: opacity .6s ease-in
}

.form-cta-container p{
    font-family: 'Jost', sans-serif;
    color: #170C05;
    
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    width: 100%;
    max-width: 900px;
    color: #170C05;
    font-family: 'Jost', sans-serif;
    opacity: 0;
    transition: opacity .6s ease-in
}

.form-container label,
.form-container input,
.form-container textarea,
.form-container button {
  display: block;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.form-container textarea {
    resize: vertical;
  }


.fade-in {
    opacity: 1;
}