.project-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-right: 50px;
    width: 500px;
    border: #11F5B8 3px solid;
    border-radius: 15%;
    padding: 15px;
}

.image-container {
    border: #FFFFFF 1px solid;
}

.description-container {
    font-family: 'Jost', sans-serif;
    color: #FFFFFF;
}

.image-container img {
    width: 350px;
}