html{
  height: 100vh;
  background-color: #fcf2f0;
}

body {
  margin: 0;
  background-color: #fcf2f0;
}


#root {
  height: 100vh;
  width:100%;
  text-align: center;
  background-color: #fcf2f0;
}

@media screen and (max-width: 768px) {
  
#root {
  width: 200%;
}

}


@media screen and (max-width: 425px) {

  #root {
    width: 200%;
  }
}