.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 5rem;

}

.hero-title {
    color: #0e0703;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;   
}


.hero-title h1 {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 4rem;
    text-transform: uppercase;
    text-align: start;
    letter-spacing: 1.5rem;
    width: 600px;
    border-right: #C47541 3px solid;
}

.hero-subtitle h2 {
    color: #0e0703;
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    width: 300px;
    text-transform: uppercase;
    font-style: italic;
    border-radius: 50%;
}

.hero-image-container img {
    width: 400px;
    border-radius: 30%;
}
