.navbar-container {
    font-size: 16px;
    width: 100%;
    margin: 3rem auto;
    display: inline-flex;
    justify-content: space-between;
    align-content: center;
    text-transform: uppercase;
    
}

.logo-container {
    margin-right: 4rem;
    color:#FFFFFF;
}

.navlink-container .nav-link {
    margin: auto -5rem;
    text-decoration: none;
    color: #FFFFFF;
    opacity: 100%;
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    letter-spacing: .5rem;
    transition-property: color, letter-spacing;
    transition-duration: 1.5s;
    
    
}

.nav-link:hover {
    color: #4AFFAD;
    letter-spacing: .7rem;
    
}

.navlink-container-social {
    margin-top: -.7rem;
}

.nav-link-social {
    padding: .5rem;
    text-decoration: none;
}

.nav-social-img{
    filter: hue-rotate(270deg);
}