.navbar-container {
    font-size: 16px;
    width: 100%;
    margin: 3rem auto;
    display: inline-flex;
    justify-content: space-between;
    align-content: center;
    text-transform: uppercase;
    /* border-bottom: #170C05 1px solid; */
    
}

.logo-container {
    margin-top: -1rem;
    margin-left: 2rem;
    margin-right: 4rem;
    color:#170C05;
}

.logo-container img {
    width: 40px;
    transition-property: width, filter; 
    transition-duration: .5s; 
    transition-timing-function: ease-in;
}

.logo-container img:hover {
    width: 45px;
    filter: drop-shadow(7px 2px 4px black);

}

.navlink-container .nav-link {
    margin: auto -5rem;
    text-decoration: none;
    color: #170C05;
    opacity: 100%;
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    letter-spacing: .5rem;
}

.gold {
    transition-property: color, letter-spacing;
    transition-duration: 1.5s;
}

.gold:hover {
    color: #D9AF21;
    letter-spacing: .7rem;
}


.orange {
    transition-property: color, letter-spacing;
    transition-duration: 1.5s;
}

.orange:hover {
    color: #E93F33;
    letter-spacing: .7rem;
}

.blue {
    transition-property: color, letter-spacing;
    transition-duration: 1.5s;
}

.blue:hover {
    color: #3470BD;
    letter-spacing: .7rem;
}

.green {
    transition-property: color, letter-spacing;
    transition-duration: 1.5s;
}

.green:hover {
    color: #00DBA4;
    letter-spacing: .7rem;
}

.navlink-container-social {
    margin-top: -.7rem;
    margin-right: .7rem;
}

.nav-link-social {
    padding: .5rem;
    text-decoration: none;
}

.nav-social-img {
    width: 45px;
    transition: width .5s ease-in;
}

.nav-social-img:hover {
    width: 50px;
}